<app-navbar></app-navbar>
<router-outlet></router-outlet>
<audio src="../assets/audio/star-wars-main-theme-full.mp4" autoplay="true" loop="true"></audio>
<footer class="bg-dark text-center text-lg-start fixed-bottom">
  <!-- Copyright -->
  <div class="text-center p-3"
    style="background-color: rgba(0, 0, 0, 0.2); color: rgb(255, 230, 5); font-weight: bold; font-family: 'Roboto'">
    © 2020 Copyright <br> Page created by
    <a href="https://github.com/fr46uas" target="_blank"
      style="color: rgb(255, 230, 5); font-weight: bold; font-family: 'Roboto'"><img id="bobafett"
        src="../assets/images/854772_boba_456x512.png" alt="">
      Sergio Fraguas</a>
  </div>
  <!-- Copyright -->
</footer>