<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="'/home'" href="#"><img src="../../../assets/images/starwars.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="'/people'" href="#"
                    style="color: rgb(255, 230, 5); font-weight: bold; font-family: 'Roboto';">People</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/planets'" href="#"
                    style="color: rgb(255, 230, 5); font-weight: bold; font-family: 'Roboto'">Planets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"
                    style="color: rgb(255, 230, 5); font-weight: bold; font-family: 'Roboto'">Species</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"
                    style="color: rgb(255, 230, 5); font-weight: bold; font-family: 'Roboto'">Spaceships</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"
                    style="color: rgb(255, 230, 5); font-weight: bold; font-family: 'Roboto'">Vehicles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"
                    style="color: rgb(255, 230, 5); font-weight: bold; font-family: 'Roboto'">Films</a>
            </li>
        </ul>
    </div>
</nav>